<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
 
  <test name="Regression1">
    <classes>
      <class name="org.kay.jenk_selenium_hello.SimpleTest"/>
      <class name="org.kay.jenk_selenium_hello.WikipediaTest"/>
    </classes>
  </test>
  

  
</suite>
